/*introdução*/
body{
    background-color: ghostwhite;
}
.coluna{
    display: flex;
    flex-flow: column nowrap;
}
.cabecalho{
    background-color: ghostwhite;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 11vh;
    top: 0px;
    right: 0px;
    left: 0px;
}

.wing{
    font-size: 30pt;
    font-family: "Courier New";
    display: flex;
    margin-inline: 10px;
}
.botoes{
    display: flex;
    margin-inline: 35px;
}
.opcoes{
    display: flex;
    flex-flow: row nowrap;
    font-size: 20pt;
    font-family: "Courier New";
    padding: 20px;
}
.botjog{
    text-decoration: underline;
    text-decoration-color: black;
    padding-right: 25px;
}

.botalun:hover{
    text-decoration: underline;
    padding-right: 25px;
    color: black;

}

a{
    color: black;
    text-decoration: none;
}
.botalun{
    padding-right: 25px;
}
.botint{
    padding-right: 25px;
}

.botint:hover{
    text-decoration: underline;
    text-decoration-color: black;
    padding-right: 25px;
}
#canvas{
    background-image: url("img/fundoproj.jpg");
    border-radius: 20px;
}
#tutorial{
    font-family: Righteous;
    font-size: 11pt;
    color: indigo;
}
#jogo{
    display: flex;
    width: 98vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
#botIniciar{
    position: absolute;
    top: 45vh;
    left: 5vw;
}
.botIniciar {
    background-color:#d3abed;
    border-radius:28px;
    border:1px solid #7f6ac4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #a382bf;
}
.botIniciar:hover {
    background-color:#8181eb;
}
.botIniciar:active {
    position:relative;
    top:1px;
}
